.star-input {
    display: none;
}

.star-shape {
    background-image: url('img/star.svg');
    width: 25px;
    height: 25px;
    background-size: cover
}

.star-box{
    display: flex;
    gap: 10px

}